/* Styling untuk navigasi */
nav {
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* Navigation Bar */

nav div img {
  margin-left: 0%;
}

nav ul {
  list-style: none;
  display: flex;
  color: #5c4033;
}
nav ul li a:hover {
  background-color: #e2e2e2;
  text-decoration: none;
}
nav ul li a.active {
  background-color: #28a745;
  color: #fff;
}

nav ul li {
  margin-left: 20px;
  display: flex;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: #151515;
  font-size: 1.1rem;
  display: inline-block;
  border-radius: 10px;
}

/* Styling untuk profile */

/* Profile */
.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 30px; /* Kurangi ukuran width */
  height: 30px; /* Kurangi ukuran height */
  border-radius: 50%;
  margin-right: 5px; /* Kurangi margin */
}

.profile p {
  font-size: 14px; /* Kurangi ukuran font */
  font-weight: 500;
}

/* Notifications */
.notifications {
  position: relative;
}

.notifications img {
  width: 28px;
  height: 28px;
}

.notifications::after {
  content: "";
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;

  /* Posisikan angka notif */
  position: absolute;
  top: -6px;
  right: -8px;
}
/* Profile */
.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.profile p {
  font-size: 18px;
  font-weight: 500;
}
/* Profile */
#profile img {
  width: 150px;
  border-radius: 50%;
}

#profile h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

#profile p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Info */
.info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info p {
  margin-right: 30px;
}

/* Counts */
.counts {
  display: flex;
}

.counts div {
  text-align: center;
  margin-right: 20px;
}

/* Reviews */
.review-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Products */
.product-list {
  display: flex;
}

.product-list img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}
